.cart {
    position: fixed;
    width: 14dvw;
    top: 50%;
    right: 0;
    padding: 2rem;
    border-radius: 8px 0 0 8px;
    transform: translateX(300px);
    transition: transform 500ms ease;
    opacity: 0;
}

.cart-active {
    position: fixed;
    width: 160px;
    height: 200px;
    top: 50%;
    right: 0;
    padding: 2rem;
    border-radius: 8px 0 0 8px;
    transform: translateX(0);
    transition: transform 500ms ease;
    opacity: 1;
}