.ad-editor-form {
  width: 60%;
  height: 60dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.ad-editor-text-field {
  height: 40px;
  background-color: white;
  padding: 8px;
  border: 2px solid #ffa41b;
  border-radius: 8px;
  font-size: 12px;
  font-family: inherit;
  width: 100%;
}
